<div class="container">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
					<img src="{{ asset('img/logo.png') }}" width="40" />
					<span class="fs-4"> PHP Symfony </span>
				</a>
				
				<ul class="nav nav-pills">
					<li class="nav-item"><a href="{{ path('anasayfa') }}" class="nav-link" aria-current="page">Anasayfa</a></li>
					<li class="nav-item"><a href="{{ path('academicians') }}" class="nav-link">Akademisyenler</a></li>

				

					<li class="nav-item"><a href="{{ path('lessons') }}" class="nav-link">Dersler</a></li>	
					<li class="nav-item"><a href="{{ path('students') }}" class="nav-link">Öğrenciler</a></li>	
					
					
				</ul>
			</header>
		</div>